<!DOCTYPE html>
<html>
    <title>PHP Coder V2</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ baseurl }}/css/w3.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ baseurl }}/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/styles/default.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/highlight.min.js"></script>
    <!-- and it's easy to individually load additional languages -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/languages/go.min.js"></script>
    <body class="d1">
        <div class="loader" id="loader"></div>
        <div id="id01" class="w3-modal">
            <div class="w3-modal-content w3-card-4 w3-animate-opacity d5">
                <header class="w3-container"> 
                    <span onclick="document.getElementById('id01').style.display = 'none'" 
                          class="w3-button w3-display-topright">&times;</span>
                    <h2 id="modaltitle"></h2>
                </header>
                <div class="w3-container" id="modalbody" style="overflow: auto;">

                </div>

            </div>
        </div>
    </div>

    <!-- Sidebar/menu -->
    <nav class="w3-sidebar w3-collapse d4" style="z-index:3;width:300px;" id="mySidebar"><br>
        <div class="w3-container dblue">
            <a href="{{ baseurl }}"><h5><i class="fa fa-users fa-home"></i> Dashboard</h5></a>
        </div>
        <div class="w3-bar-block">

            <a href="{{ baseurl }}/core" class="w3-bar-item w3-button w3-padding"><i class="fa fa-file-code-o fa-fw"></i>Create Controller</a>   

        </div>
        <div class="w3-container">
            <h5>Tables in <u>{{ dbName }}</u></h5>
        </div>
        <div class="w3-bar-block">
            {% for tbl in tablesInDb %}
                <a href="{{ baseurl }}/kringcoder/showtables/{{ tbl[0] }}" class="w3-bar-item w3-button w3-padding"><i class="fa fa-th fa-fw"></i> {{ tbl[0] }}</a>   
            {% endfor %}
        </div>
    </nav>
    <div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>
    <div class="w3-main" style="margin-left:300px;">
        <div class="w3-bar w3-large d3 w3-padding-small">
            <button class="w3-bar-item w3-button w3-hide-large w3-hover-none w3-hover-text-light-grey" onclick="w3_open();"><i class="fa fa-bars"></i> &nbsp;Menu</button>
            <span class="w3-bar-item w3-left">PHP Coder@Kring</span>


            <div class="w3-right">
                <div class="w3-dropdown-hover w3-right">
                    <button class="w3-button" id="defappname">{{ session.sapp }}</button>
                    <div class="w3-dropdown-content w3-bar-block w3-border"  style="right:0">
                        <a href="javascript:void(0)" onclick="loadurl('{{ baseurl }}/kringcoder/set_sess_app/apps', 'defappname');" class="w3-bar-item w3-button">/ (Apps)</a>

                        {% for appname, app in apps %}
                            <a href="javascript:void(0)" onclick="loadurl('{{ baseurl }}/kringcoder/set_sess_app/{{ app }}/{{ appname }}', 'defappname');" class="w3-bar-item w3-button">/{{ appname }}</a>
                        {% endfor %}
                    </div>
                </div>

            </div>
        </div>

        <div id="mainbody" class="d1 w3-padding">